/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/Bank5.jpg);
    background-size: cover;
}
header{
    height: 50px;
    width: 100%;
    background-color: rgb(219, 219, 219);
}

footer{
    height: 90px;
    background-color: rgb(230, 230, 230);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-color: black;
    border-width: 10px;

}